/* ----------------------ROOT ----------------------------*/
:root {
    --btn-color: #FF6336;
    --secondary-color: rgb(250, 196, 19);
    --border-light: rgb(199, 196, 196);  
    --color-black: black;
    --pink-color: #FF9C7D;
    --light-pink-color: #FFF8E4;
  }

body {
    font-family: Roboto, sans-serif;
}
/* ----------------------NAVBAR ----------------------------*/
.navbar {
    height: 95px;
    padding-left: 51px;
    padding-right: 51px;
    border-bottom: 1px solid var(--border-light);
}
.leftnav > li {
    padding-left: 40px;
}
.btn_top {
    font-weight: bold;
    width: 120px;
    height: 45px;
    margin-left: 10px;
    color: var(--color-black);
    border-color: var(--color-black);
}
.btn-primary {
    background-color: var(--btn-color) !important;
    color: white;
    border-color: var(--btn-color);
}
.btn:hover {
    color: var(--color-black);
    background-color: var(--secondary-color) !important;
}
/* ----------------------MAIN INFO ----------------------------*/
.topic_info {
    margin-top: 115px;
}
.header_1 {
    color: var(--color-black);
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
}
.info_1 {
    color: var(--color-black);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    max-width: 470px;
    margin-top: 51px;
}
.main_image {
    max-width: 759px;
    margin-top: 20px;
}
.btn_info {
    font-weight: bold;
    width: 160px;
    height: 60px;
    margin-top: 50px;
}
.btn-outline-primary {
    color: var(--color-black);
    border-color: var(--color-black);
}
.add_info {
    color: var(--color-black);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
}
/* ----------------------COMPANY INFO ----------------------------*/
.companies {
    background-color: var(--pink-color);
    margin-top: 172px;
    padding-bottom: 94px !important;
} 
.companies_header_box {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.companies_header {
    color: var(--color-black);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    width: 720px;
    margin: 0 auto;
    margin-top: 108px;
    padding: 0 20px;
}
.company_logo_line {
    margin: 70px 75px 0px 75px;
    height: 53px;
}
/* ----------------------DESCRIPTION ----------------------------*/
.description_top {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.descr_header {
    color: var(--color-black);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}
.descr_text {
    color: var(--color-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 30px;
}
.link_start {
    color: var(--color-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    margin-top: 30px;
    cursor: pointer;
}
.descr_info_text_left {
    padding-right: 150px;
    padding-left: 75px;
}
.descr_info_text_right {
    padding-right: 75px;
    padding-left: 150px;
}
/* ----------------------LOKALIZE ----------------------------*/
.lokalize {
    background-color: var(--light-pink-color);
}
.lok_header {
    padding-top: 120px;
}
.lok_box {
    padding-top: 58px;
    padding-bottom: 93px;
}
.lok_item {
    margin-top: 55px;
}
.lok_head {
    color: var(--color-black);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-top: 25px;
}
.lok_text {
    color: var(--color-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
    padding: 0 50px;
}