/* ----------------------ROOT ----------------------------*/
:root {
    --btn-color: #FF6336;
    --secondary-color: rgb(250, 196, 19);
    --border-light: rgb(199, 196, 196);  
    --color-black: black;
  }
/* ----------------------NAVBAR ----------------------------*/
.navbar {
    height: 95px;
    padding-left: 51px;
    padding-right: 51px;
    border-bottom: 1px solid var(--border-light);
}
.leftnav > li {
    padding-left: 40px;
}
.btn_top {
    font-weight: bold;
    width: 120px;
    height: 45px;
    margin-left: 10px;
    color: var(--color-black);
    border-color: var(--color-black);
}
.btn-primary {
    background-color: var(--btn-color) !important;
    color: white;
    border-color: var(--btn-color);
}
.btn:hover {
    color: var(--color-black);
    background-color: var(--secondary-color) !important;
}
/* ----------------------MAIN INFO ----------------------------*/
.topic_info {
    margin-top: 115px;
}
.header_1 {
    color: var(--color-black);
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
}
.info_1 {
    color: var(--color-black);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    max-width: 470px;
    margin-top: 51px;
}
.main_image {
    max-width: 759px;
    margin-top: 20px;
}
.btn_info {
    font-weight: bold;
    width: 160px;
    height: 60px;
    margin-top: 50px;
}
.btn-outline-primary {
    color: var(--color-black);
    border-color: var(--color-black);
}
.add_info {
    color: var(--color-black);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
}